<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Surveillance System</title>
        <style>
        body {
            background-color: black;
            color: white;
            text-align: center;
        }

        h1 {
            color: red;
        }

        img {
            border: 5px solid red;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>AI Surveillance System</h1>
    <img src="/video" width="800">
    <p>Live Monitoring Active....</p>
</body>
</html>